{cover_enabled, true}.
{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
  %fail_on_warning
]}.

{deps, [
  {misultin, ".*", {git, "https://github.com/ostinelli/misultin.git", {tag, "misultin-0.9"}}},
  {riak_core, ".*", {git, "https://github.com/basho/riak_core.git", {tag, "1.1.1"}}}
]}.
